/* provides a red astrix to denote required fields - this should be included in common stylesheet */
.form-group.required .control-label:after {
    content: "*";
    color: red;
    margin-left: 4px;
    font-size: 20px;
    font-weight: 900;
}

.control-label.required::after {
    content: "*";
    color: red;
    margin-left: 4px;
    font-size: 20px;
    font-weight: 900;
}

.btn-danger:hover {
    background-color: #932A34 !important;
    border-color: #bd2130 !important;
    color: red !important;
}

.rounded,
.circle {
    border-radius: 500px;
}

.valid {
    border: 2px solid green;
}

.error {
    color: red;
}

.errorTxt {
    border: 1px solid red;
    min-height: 20px
}

.breadcrumb-style {
    float: right;
    align-content: center;
}

/* for the on and off buttons */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* for gif loading spinner
 */
.loader {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader>img {
    width: 100px;
}

.loader.hidden {
    animation: fadeOut 1s;
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.thumb {
    height: 100px;
    border: 1px solid black;
    margin: 10px;
}

.preeloader {
    background: rgba(255, 255, 255, 1) none repeat scroll 0 0;
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 999999;
}

.preloader-spinner {
    -webkit-animation: 1s ease-out 0s normal none infinite running pulsate;
    animation: 1s ease-out 0s normal none infinite running pulsate;
    border: 5px solid #f39c12;
    border-radius: 40px;
    display: block;
    height: 40px;
    left: 50%;
    margin: -20px 0 0 -20px;
    opacity: 0;
    position: fixed;
    top: 50%;
    width: 40px;
    z-index: 10;
}

table.dataTable tbody th,
table.dataTable tbody td {
    padding: 2px 2px !important;
}

.form-group {
    margin-bottom: 0.25rem;
}

.form-group>.select2-container--bootstrap {
    width: auto;
    flex: 1 1 auto;
}

.form-group>.select2-container--bootstrap .select2-selection--single {
    height: 100%;
    line-height: inherit;
    padding: 0.5rem 1rem;
}

.form-check {
    position: relative;
    display: block;
    padding-left: 1.875rem;
}

.form-check:not(.form-check-inline) {
    margin-bottom: .5rem;
}

*,
::after,
::before {
    box-sizing: border-box;
}

.form-check .uniform-checker,
.form-check .uniform-choice {
    position: absolute;
    top: .00002rem;
    left: 0;
}

.uniform-checker,
.uniform-checker input,
.uniform-checker span,
.uniform-choice,
.uniform-choice input,
.uniform-choice span {
    width: 1.25rem;
    height: 1.25rem;
}

/* for date time picker */
.bootstrap-datetimepicker-widget.dropdown-menu {
    margin: 2px 0;
    padding: 4px;
    width: 19em;
    border: 1px solid #482683;
    border-radius: 25px;
}

.bootstrap-datetimepicker-widget .list-unstyled {
    list-style: none;
    padding-left: 0;
}

.bootstrap-datetimepicker-widget table td span.active,
.bootstrap-datetimepicker-widget table td.active,
.bootstrap-datetimepicker-widget table td.active:hover {
    background-color: #482683;
    color: #FFF;
    padding: 5px 0;
}

input {
    font-size: 0.8rem !important;
}
